.contact {
  background: radial-gradient(circle farthest-side at top left, fade-out($primaryColor, .85), transparent);

  &__list {
    padding: 0 $spaceBase;
    margin: 0;
    list-style-type: none;
  }

  @media screen and (min-width: $bpS) and (orientation: landscape){
    display: flex;
    height: 100vh;
    min-height: 35rem;
    max-height: 50rem;
    flex-direction: row;
    align-items: center;
    background: radial-gradient(circle farthest-side at top center, fade-out($primaryColor, .85), transparent);

    &__list{
      display: flex;
      padding: $spaceL2 $spaceBase $spaceXL2 $spaceBase;
      flex-direction: row;
    }
  }
}
