.home {
  position: relative;

  &__gradient {
    width: 100vw;
    height: 100vw;
    max-width: 25rem;
    position: absolute;
    bottom: 5rem;
    left: 100%;
    z-index: -1;
    opacity: .25;
    background: radial-gradient(circle closest-side at center, $turquoise, transparent);
    transform: translate(-50%, 50%);
  }
  &__header {
    padding: $spaceL1 0 0 0;
    margin: 0;
    position: relative;
  }

  &__illustration {
    width: 130%;
    height: auto;
    max-width: 38.750rem;
    position: absolute;
    top: 4rem;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);

    &::before {
      content: "";
      width: 110%;
      height: 110%;
      position: absolute;
      top: 50%;
      left: 50%;
      background: radial-gradient(circle closest-side at center, $backgroundColorLighter, transparent);
      transform: translate(-50%, -50%);
    }
  }

  &__ux-logo {
    width: 25%;
    max-width: 7.5rem;
    margin: 0 auto $spaceL1 auto;
  }

  &__ovh-logo {
    width: 15%;
    max-width: 4rem;
    margin: 0 auto $spaceL2 auto;
  }

  &__intro {
    padding: 0 $spaceBase $spaceXL2 $spaceBase;

    &-title {
      @extend %title;
      @extend %title--main;

      margin: 0 0 $spaceL1 0;
      text-align: center;

      &::after {
        content: "";
        display: block;
        width: 6.25rem;
        height: .188rem;
        margin: $spaceL1 auto 0 auto;
        background-color: $primaryColor;
      }
    }

    &-text {
      padding: 0;
      margin: 0 0 $spaceBase 0;
      text-align: center;

      &:last-child {
        margin-bottom: 0;;
      }
    }
  }

  @media screen and (min-width: $bpS) and (orientation: landscape) {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__header {
      box-sizing: border-box;
      width: 33.3%;
      padding: 0 0 0 $spaceL2;
    }

    &__illustration {
      top: 50%;
    }

    &__ux-logo {
      width: 50%;
      max-width: 11.25rem;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0;
      transform: translate(-50%, -50%);
    }

    &__ovh-logo {
      width: 35%;
      max-width: 6.25rem;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0;
      transform: translate(-50%, 200%);
    }

    &__intro {
      box-sizing: border-box;
      width: 66.7%;
      padding: 0 $spaceL2;

      &-title {
        padding: 0;
        margin-bottom: $spaceL2;
        text-align: left;

        &::after {
          width: 12.5rem;
          margin: $spaceL2 0 0 0;
        }
      }

      &-text {
        padding: 0;
        margin-bottom: $spaceL1;
        text-align: left;

        &:last-child {
          margin-bottom: 5rem;
        }
      }
    }
  }

  @media screen and (min-width: $bpL) and (orientation: landscape) {
    &__intro {
      padding: 0 10%;
    }
  }
}
