@mixin font-styles($fs-ratio) {
    $fs-small: $fs-base / $fs-ratio;
    $fs-large: $fs-base * $fs-ratio;
    $fs-h3: $fs-large * $fs-ratio;
    $fs-h2: $fs-h3 * $fs-ratio;
    $fs-h1: $fs-h2 * $fs-ratio;

    font-family: $ff;
    font-size: $fs-base;

    .title {
        &--main,
        &--lvl2,
        &--lvl3 {
            font-weight: $fw-base;
            letter-spacing: $ls-small;
            line-height: $lh-small;
        }

        &--main {
            margin-top: 0;
            font-size: $fs-h1;
        }

        &--lvl2 {
            font-size: $fs-h2;
        }

        &--lvl3 {
            font-size: $fs-h3;
        }

        &--lvl4 {
            font-size: $fs-large;
            font-weight: $fw-large;
            line-height: $lh-small;
        }
    }

    .plain-text {
        font-family: $ff;
        font-size: $fs-base;
        letter-spacing: $ls-base;
        line-height: $lh-base;
    }
}
