.works-stats-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: $spaceL2;

  &:last-of-type {
    margin-bottom: 0;
  }

  &__description {
    padding-left: $spaceBase;
  }

  @media screen and (min-width: $bpS) and (orientation: landscape) {
    padding-right: $spaceBase;
    flex-basis: 33%;
    flex-grow: 1;
    margin-bottom: 0;

    &:last-of-type {
      padding-right: 0;
    }
  }
}
