.main-nav-item {
  display: inline-block;
  vertical-align: middle;

  &__link {
    display: block;
    height: 3rem;
    padding: 0 $spaceL1;
    position: relative;

    &-indicator {
      display: inline-block;
      width: .375rem;
      height: .375rem;
      border: solid 0.063rem white;
      position: absolute;
      bottom: 0;
      left: 50%;
      background-color: transparent;
      border-radius: 50%;
      transform: translateX(-50%);
      transition: all .2s ease-in;

      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        border-radius: 50%;
        transform: scale(0);
      }

      &::before {
        width: .875rem;
        height: .875rem;
        border: solid 0.063rem fade-out(white, .85);
        top: -.313rem;
        left: -.313rem;
        transition: transform .28s cubic-bezier(.1,1.2,.75,1.1) .08s;
      }

      &::after {
        width: 1.875rem;
        height: 1.875rem;
        border: solid 0.063rem fade-out(white, .92);
        top: -.813rem;
        left: -.813rem;
        transition: transform .32s cubic-bezier(.1,1.2,.75,1.1);
      }
    }

    &-label {
      @extend %text;
      @extend %text--small;

      padding: $spaceS3 $spaceS2;
      position: absolute;
      top: $spaceBase;
      left: 50%;
      color: $textColor;
      line-height: 1em;
      text-decoration: none;
      opacity: 0;
      transform: translateX(-50%) scale(.6);
      transition: opacity .24s ease-out .1s,
        top .42s ease-out,
        transform .42s ease-out;

      &::after {
        content: "";
        display: block;
        width: 0.063rem;
        height: 1.25rem;
        position: absolute;
        top: 100%;
        left: 50%;
        background-color: fade-out(white, .6);
        transform-origin: center top;
        transform: translateX(-50%) scale(0);
        transition: transform .3s ease-out;
      }
    }

    &:hover,
    &:focus,
    &:active,
    &--active {
      outline: none;

      .main-nav-item__link {
        &-indicator {
          &::before,
          &::after {
            transform: scale(1);
          }
        }

        &-label {
          opacity: 1;
          transform: translateX(-50%) scale(1);
        }
      }
    }

    &:hover,
    &:focus,
    &:active {
      .main-nav-item__link {
        &-label {
          top: $spaceS2;
        }
      }
    }

    &--active,
    &--active:hover,
    &--active:focus,
    &--active:active {
      .main-nav-item__link {
        &-indicator {
          border-color: $primaryColor;
          background-color: $primaryColor;
        }

        &-label {
          top: 0;
          background-color: $primaryColor;
          color: $textColorReverse;

          &::after {
            transform: translateX(-50%) scale(1);
          }
        }
      }
    }
  }
}
