.main-nav-item {
  display: inline-block;
  vertical-align: middle;

  &__link {
    display: block;
    height: 3rem;
    padding: 0 $spaceL1;
    position: relative;

    &-indicator {
      display: inline-block;
      width: .375rem;
      height: .375rem;
      border: solid 0.063rem white;
      position: absolute;
      bottom: 0;
      left: 50%;
      border-radius: 50%;
      transform: translateX(-50%);

      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        opacity: 0;
        border-radius: 50%;
      }

      &::before {
        width: .875rem;
        height: .875rem;
        border: solid 0.063rem fade-out(white, .85);
        top: -.313rem;
        left: -.313rem;
      }

      &::after {
        width: 1.875rem;
        height: 1.875rem;
        border: solid 0.063rem fade-out(white, .92);
        top: -.813rem;
        left: -.813rem;
      }
    }

    &-label {
      @extend %text;
      @extend %text--small;

      padding: $spaceS3 $spaceS2;
      position: absolute;
      top: 0;
      left: 50%;
      color: $textColor;
      line-height: 1em;
      text-decoration: none;
      opacity: 0;
      transform: translateX(-50%);

      &::after {
        content: "";
        display: block;
        width: 0.063rem;
        height: 1.25rem;
        position: absolute;
        top: 100%;
        left: 50%;
        opacity: 0;
        background-color: fade-out(white, .6);
        transform: translateX(-50%);
      }
    }

    &:hover,
    &--active {
      .main-nav-item__link {
        &-indicator {
          &::before,
          &::after {
            opacity: 1;
          }
        }

        &-label {
          opacity: 1;
        }
      }
    }

    &--active {
      .main-nav-item__link {
        &-indicator {
          border-color: $primaryColor;
          background-color: $primaryColor;
        }

        &-label {
          background-color: $primaryColor;
          color: $textColorReverse;

          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
}
