<nav class="footer-nav" id="footer-nav">
    <img src="assets/images/uxTeamLogo.svg"
         alt="OVH UX Team logo"
         class="footer-nav__ux-logo">
    <a class="footer-nav__link" href="#home">
        <span>Home</span>
        <svg class="footer-nav__arrow"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 17">
            <polyline points="15.5 0.5 23.5 8.5 15.5 16.5"
                class="footer-nav__arrow-stroke footer-nav__arrow-stroke--fadeout"/>
            <polyline points="14.5 6.5 16.5 8.5 14.5 10.5"
                class="footer-nav__arrow-stroke"/>
            <circle cx="8.5"
                    cy="8.5"
                    r="0.5"
                    class="footer-nav__arrow-fill"/>
            <circle cx="4.5"
                    cy="8.5"
                    r="0.5"
                    class="footer-nav__arrow-fill"/>
            <circle cx="0.5"
                    cy="8.5"
                    r="0.5"
                    class="footer-nav__arrow-fill"/>
        </svg>
    </a>
</nav>
