// Font family
$ff: 'SourceSansPro', "Source Sans Pro", sans-serif;

// Font size
$fs-mobile-ratio: 1.2;
$fs-desktop-ratio: 1.25;

$fs-base: 1rem;


// Font weight
$fw-base: 400;
$fw-large: 600;


// Letter spacing
$ls-base: 0.005em;
$ls-small: $ls-base*-2;
$ls-large: $ls-base*2;


// Line height
$lh-base: 1.45em;
$lh-small: 1.2em;
