$space-base: 1rem;
$space-ratio: 1.414;

$space-s1: $space-base / $space-ratio; //about 11px
$space-s2: $space-s1 / $space-ratio; //about 8px
$space-s3: $space-s2 / $space-ratio; //about 5px

$space-l1: $space-base * $space-ratio; //about 22px
$space-l2: $space-l1 * $space-ratio; //about 31px
$space-l3: $space-l2 * $space-ratio; //about 45px

$space-xl1: $space-l3 * $space-ratio; //about 64px
$space-xl2: $space-xl1 * $space-ratio; //about 90px
