/* main colors */
$brandColor: #113f6d;
$zodiac: #122844;
$turquoise: #59d2ef;
$pacific: #007e9b;

/* attribution */
$primaryColor: $turquoise;
$secondaryColor: $pacific;

$textColor: white;
$textColorReverse: $zodiac;
$backgroundColor: $zodiac;
$borderColor: $brandColor;
