$fonts: 'SourceSansPro', 'Source Sans Pro', sans-serif;

//font-sizes
$fsRatio: 1.25;
$fsBase: 1rem;

$fsS1: $fsBase / $fsRatio;
$fsL1: $fsBase * $fsRatio;
$fsL2: $fsL1 * $fsRatio;
$fsL3: $fsL2 * $fsRatio;

//font-weights
$fwBase: 400;
$fwMedium: 600;
$fwLarge: 700;

//line-heights
$lhBase: 1.45em;
$lhS1: 1.333em;

//letter-spacings
$lsBase: 0.01em;
$lsS1: 0.005em;
$lsS2: -0.005em;
