.footer-nav {
    display: none;
    box-sizing: border-box;
    width: 100%;
    padding: $space-s2 $space-base;
    border-top: solid 1px $pacificBlue;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $lightestBackground;
    justify-content: space-between;
    align-items: center;

    &--active {
        display: flex;
    }

    &__ux-logo {
        flex-grow: 0;
        height: $touch-area - ($space-s2 * 2);
        width: auto;
    }

    &__link {
        color: $pacificBlue;
        text-decoration: none;
    }

    &__arrow {
        display: inline-block;
        width: 24px;
        height: 17px;
        vertical-align: middle;
        margin-left: $space-s2;

        &-stroke {
            fill: none;
            stroke: $pacificBlue;
            stroke-linecap:round;
            stroke-linejoin:round;

            &--fadeout {
                stroke-opacity: .4;
            }
        }

        &-fill {
            stroke: none;
            opacity: .4;
        }
    }

}
