.footer-nav {
    display: none;
    box-sizing: border-box;
    width: 100%;
    padding: $space-s2 $space-base;
    border-top: solid 1px $pacificBlue;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $lightestBackground;
    justify-content: space-between;
    align-items: center;

    &__ux-logo {
        flex-grow: 0;
        height: $touch-area - ($space-s2 * 2);
        width: auto;

        &--works {
            order: 1;
        }
    }

    &__link {
        color: $pacificBlue;
        text-decoration: none;
    }

    &__arrow {
        display: inline-block;
        width: 24px;
        height: 17px;
        vertical-align: middle;
        margin-left: $space-s2;

        &-stroke {
            fill: none;
            stroke: $pacificBlue;
            stroke-linecap:round;
            stroke-linejoin:round;

            &--fadeout {
                stroke-opacity: .4;
            }
        }

        &-fill {
            stroke: none;
            opacity: .4;
        }

        &--works {
            transform: rotate(180deg);
        }

        &--contribute {
            transform: rotate(270deg);
        }
    }

    &--active {
        display: flex;
    }

    @media screen and (orientation: landscape) and (min-width: $l-screen) {
        border-top: none;
        top: 0;
        bottom: auto;

        &--about-us,
        &--works {
            flex-direction: column;
            justify-content: center;
            width: 12%;
            height: 100%;
        }

        &--about-us {
            right: 0;
            left: auto;
            border-left: solid 1px $pacificBlue;
        }

        &--works {
            border-right: solid 1px $pacificBlue;
        }

        &--contribute {
            height: $space-xl1;
            border-bottom: solid 1px $pacificBlue;
        }

        &__ux-logo {
            &--about-us,
            &--works {
                display: block;
                width: 80%;
                max-width: 100px;
                height: auto;
                margin-bottom: $space-l1;
            }

            &--works {
                order: 0;
            }

            &--contribute {
                height: $space-xl1 - ($space-s2 * 2);
            }
        }
    }
}
