.list {
    &--links {
        color: $linkColor;
    }

    &__item {
        @extend .plain-text;

        padding: $space-s2 0;
    }

    &-illustrated {
        margin: 0;
        padding: 0;
        list-style-type: none;

        &__item {
            padding: $space-l2 0;
            text-align: center;

            &--border {
                border-bottom: dashed 1px $mischka;
            }
        }

        &__icon {
            display: block;
            width: 120px;
            height: 120px;
            margin: 0 auto $space-base auto;
        }

        @media screen and (orientation: landscape) and (min-width: $s-screen) {
            display: flex;

            &__item {
                flex-basis: calc(100%/3);
                padding: $space-base;

                &--border {
                    border-bottom: none;
                    border-right: dashed 1px $mischka;
                }
            }
        }
    }
}
