.section {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all .6s cubic-bezier(.4, 0, .66, 1.16);

    &-container {
        width: 100%;
        height: 100vh;
        padding: 0;
        margin: 0;
        position: relative;
        overflow: hidden;
    }

    &__content {
        max-width: 960px;
        padding: $space-l3 $space-base;
        opacity: 0;
        position: relative;
        left: -10%;
        transition: left .42s ease-in .6s,
            opacity .4s ease-in .7s;

        &--active {
            left: 0;
            opacity: 1;
        }

        @media screen and (orientation: landscape) and (min-width: $l-screen) {
            &--about-us,
            &--works {
                box-sizing: border-box;
                width: 88%;
                padding: $space-xl1 $space-l3;
            }

            &--works {
                margin-left: 12%;
            }

            &--contribute {
                padding: $space-l3;
                margin-top: $space-xl1;
            }
        }
    }

    &--home {
        background-color: transparent;
        position: relative;
        top: 0;
        left: 0;
        overflow: hidden;
        color: $textColor;
    }

    &--about-us {
        background-color:  $darkBackground;
        position: absolute;
        top: 0;
        left: -100%;
        color: $reverseTextColor;
    }

    &--works {
        background-color: $foam;
        position: absolute;
        top: 0;
        left: 100%;
        color: $textColor;
    }

    &--contribute {
        background-color: $lighterBackground;
        position: absolute;
        top: 100%;
        left: 0;
        color: $textColor;
    }

    &--active {
        top: 0;
        left: 0;
    }
}

.sub-section {
    margin: $space-l2 0;
}
