.team {
    &__map {
        width: 612px;
        height: 302px;
        position: absolute;
        left: 50%;
        top: -4%;
        transform: translateX(-48%);

        &-container {
            width: 100%;
            height: 220px;
            position: relative;
            overflow: hidden;
        }

        &-mask {
            position: absolute;
            width: 100%;
            height: 100%;
            background: radial-gradient(ellipse closest-side, transparent, transparent 86%, $darkBackground 118%, $darkBackground);
        }

        @media screen and (min-width: $m-screen) {
            position: static;
            transform: none;

            &-container {
                display: inline-block;
                width: auto;
            }

            &-mask {
                top: 0;
                left: 0;
            }
        }
    }

    &__profiles {
        &-content {
            display: flex;
            justify-content: space-between;
        }
        &-visual {
            display: inline-block;
            width: 12px;
            height: 8px;
            margin-right: 4px;
            margin-bottom: 4px;
            border-radius: 1px;

            &-container {
                width: 108px;
                flex-grow: 0;
            }

            &--legend {
                margin-right: $space-s2;
            }

            &--dev {
                background-color: $turquoiseBlue;
            }

            &--inte {
                background-color: $auroraBorealisLight;
            }

            &--test {
                background-color: $mischka;
            }

            &--managers {
                background-color: $fiord;
            }

            &--project-managers {
                background-color: map-get($universColors, web);
            }
        }

        &-legend {
            padding: 0;
            margin: 0;
            list-style-type: none;

            &-item {
                margin-bottom: $space-s1;
            }
        }
    }

    &__category {
        @extend .small-text;
        color: $mischka;
    }

    &__amount {
        @extend .small-text;
        font-weight: 700;
        color: $reverseTextColor;
    }
}
