.works {
    &-item {
        margin: 0;

        &__img {
            width: 128%;
            height: 128%;
            position: absolute;
            opacity: .85;
            transform-origin: 0 0;
            transform: rotate(-6deg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            mix-blend-mode: multiply;

            &--telecom {
                background-image: url("../assets/images/telecom.png");
                left: -22%;
            }

            &--cloud {
                background-image: url("../assets/images/cloud.png");
                left: -22%;
            }

            &--website {
                background-image: url("../assets/images/ovhWebsite.png");
                left: -15%;
            }

            &--chatbot {
                background-image: url("../assets/images/chatbotSlackMobile.png");
                left: -10%;
            }

            &-container {
                width: 80%;
                max-width: 480px;
                height: 200px;
                position: relative;
                overflow: hidden;
                background: linear-gradient(135deg, fade-out($pacificBlue, .4), fade-out($blueZodiac, .15));
            }
        }

        &__description {
            box-sizing: border-box;
            width: 80%;
            max-width: 440px;
            padding: $space-base;
            transform: translate(25%, -$space-l3);
            background-color: $lightestBackground;
        }

        &__name {
            font-family: $ff;
            font-size: $fs-base;
            font-weight: $fw-large;
            letter-spacing: $ls-base;
            line-height: $lh-small;
        }

        @media screen and (min-width: $m-screen) {
            &-container {
                height: 260px;
            }
        }
    }
}
