<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="section-container">
            <section id="home"
                     class="section section--home">
                <div class="home-background-container">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink"
                         viewBox="0 0 921 921"
                         class="home-background">
                        <circle class="home-background__stroke home-background__stroke--medium home-background__stroke--round-join home-background__item home-background__item--fade-out-4" cx="460.5" cy="460.5" r="70"/>
                        <g class="home-background__item home-background__item--fade-out-5">
                            <line class="home-background__stroke home-background__stroke--dark home-background__stroke--round-join home-background__stroke--radius" x1="85.89" y1="449.61" x2="95.89" y2="449.61"/>
                            <rect class="home-background__stroke home-background__stroke--dark home-background__stroke--round-join home-background__stroke--radius" x="85.39" y="434.61" width="11" height="19" rx="1" ry="1"/>
                            <line class="home-background__stroke home-background__stroke--dark home-background__stroke--round-join home-background__stroke--radius" x1="90.39" y1="451.61" x2="91.39" y2="451.61"/>
                        </g>
                        <circle class="home-background__stroke home-background__stroke--medium home-background__stroke--round-join home-background__item home-background__item--fade-out-1" cx="224.36" cy="416.5" r="32"/>
                        <circle class="home-background__stroke home-background__stroke--medium home-background__stroke--round-join home-background__item home-background__item--fade-out-1" cx="634.65" cy="514.13" r="32"/>
                        <g class="home-background__item home-background__item--fade-out-2">
                            <polygon class="home-background__stroke home-background__stroke--dark home-background__stroke--round-join" points="179.38 528 173.38 530 175.38 524 188.38 511 192.38 515 179.38 528"/>
                            <line class="home-background__stroke home-background__stroke--dark home-background__stroke--round-join" x1="185.88" y1="513.5" x2="189.88" y2="517.5"/>
                            <line class="home-background__stroke home-background__stroke--dark home-background__stroke--round-join" x1="175.38" y1="524" x2="179.38" y2="528"/>
                            <polygon class="home-background__fill home-background__fill--dark" points="173.38 530 176.38 529 174.38 527 173.38 530"/>
                        </g>
                        <g class="home-background__item home-background__item--fade-out-1">
                            <circle class="home-background__stroke home-background__stroke--dark home-background__stroke--round-join" cx="344.5" cy="454.5" r="3.5"/>
                            <path class="home-background__stroke home-background__stroke--dark home-background__stroke--round-join" d="M350,466.7a5.5,5.5,0,1,0-11,0V470h11Z"/>
                        </g>
                        <circle class="home-background__stroke home-background__stroke--light home-background__item home-background__item--fade-out-2" cx="344.5" cy="460.5" r="16"/>
                        <circle class="home-background__stroke home-background__stroke--light home-background__item" cx="598.38" cy="401.42" r="18"/>
                        <g class="home-background__item home-background__item--fade-out-5">
                            <path class="home-background__stroke home-background__stroke--dark home-background__stroke--round-join" d="M347,436.5a116,116,0,1,1,0,47.88"/>
                            <circle class="home-background__fill home-background__fill--dark" cx="552.5" cy="389.42" r="4"/>
                        </g>
                        <g class="home-background__item home-background__item--fade-out-3">
                            <path class="home-background__stroke home-background__stroke--dark home-background__stroke--round-join" d="M620.44,551.53a184.05,184.05,0,1,1,24.06-91q0,7.43-.58,14.71"/>
                            <path class="home-background__stroke home-background__stroke--dark home-background__stroke--round-join home-background__stroke--radius" d="M643.74,475.17a40,40,0,1,1-23.33,76.35"/>
                        </g>
                        <path class="home-background__stroke home-background__stroke--light home-background__stroke--dashed home-background__item home-background__item--fade-out-6" d="M770.1,476.45c-8.3,163.79-143.74,294-309.6,294-171.21,0-310-138.79-310-310s138.79-310,310-310c149.81,0,274.8,106.26,303.7,247.52"/>
                        <g class="home-background__item home-background__item--fade-out-8">
                            <circle class="home-background__stroke home-background__stroke--dark home-background__stroke--round-join home-background__stroke--radius" cx="90.89" cy="444.11" r="16"/>
                            <path class="home-background__stroke home-background__stroke--dark home-background__stroke--round-join" d="M91.9,428.14C108.29,238.95,267.06,90.5,460.5,90.5c204.35,0,370,165.65,370,370s-165.65,370-370,370-370-165.65-370-370"/>
                        </g>
                        <g class="home-background__item home-background__item--fade-out-2">
                            <circle class="home-background__stroke home-background__stroke--light home-background__stroke--dashed" cx="460.5" cy="460.5" r="90"/>
                            <circle class="home-background__fill home-background__fill--light" cx="403.62" cy="390.5" r="3"/>
                            <circle class="home-background__fill home-background__fill--light" cx="403.62" cy="390.5" r="3"/>
                        </g>
                        <g class="home-background__item home-background__item--fade-out-3">
                            <path class="home-background__stroke home-background__stroke--medium home-background__stroke--round-join" d="M591.25,534.07a150,150,0,0,1-276.56-38.25"/>
                            <path class="home-background__stroke home-background__stroke--medium home-background__stroke--round-join" d="M606.07,424.16a150.33,150.33,0,0,1,4.43,36.34q0,6.29-.51,12.44"/>
                            <path class="home-background__stroke home-background__stroke--medium home-background__stroke--round-join" d="M460.5,310.5a149.89,149.89,0,0,1,126.7,69.68"/>
                            <circle class="home-background__stroke home-background__stroke--medium" cx="322.48" cy="493.88" r="8"/>
                            <circle class="home-background__stroke home-background__stroke--medium" cx="598.38" cy="401.42" r="24"/>
                        </g>
                        <g class="home-background__item home-background__item--fade-out-5">
                            <circle class="home-background__stroke home-background__stroke--dark" cx="759.58" cy="438.08" r="32"/>
                            <circle class="home-background__stroke home-background__stroke--dark" cx="182.88" cy="520.5" r="16"/>
                            <path class="home-background__stroke home-background__stroke--dark home-background__stroke--round-join" d="M760.35,470.07C755.29,631.33,623,760.5,460.5,760.5c-143.86,0-264.07-101.26-293.24-236.38"/>
                            <path class="home-background__stroke home-background__stroke--dark home-background__stroke--round-join" d="M171.07,381.28C205.82,254,322.24,160.5,460.5,160.5c147.19,0,269.62,106,295.12,245.83"/>
                            <circle class="home-background__fill home-background__fill--dark" cx="171.03" cy="381.27" r="4"/>
                        </g>
                        <g class="home-background__item home-background__item--fade-out-3">
                            <path class="home-background__stroke home-background__stroke--dark home-background__stroke--round-join" d="M884.66,479.68h-14a1,1,0,0,1-1-1v-10h-2"/>
                            <circle class="home-background__stroke home-background__stroke--dark" cx="872.66" cy="483.68" r="2"/>
                            <circle class="home-background__stroke home-background__stroke--dark" cx="882.66" cy="483.68" r="2"/>
                            <path class="home-background__stroke home-background__stroke--dark home-background__stroke--round-join" d="M869.66,469.68h15v4a3,3,0,0,1-3,3h-12"/>
                        </g>
                        <g class="home-background__item home-background__item--fade-out-7">
                            <path class="home-background__stroke home-background__stroke--medium home-background__stroke--round-join" d="M860.16,477.16C851.43,690.35,675.83,860.5,460.5,860.5c-220.91,0-400-179.09-400-400s179.09-400,400-400C654.18,60.5,815.71,198.16,852.59,381"/>
                            <circle class="home-background__fill home-background__fill--light" cx="61.36" cy="483" r="3"/>
                            <circle class="home-background__stroke home-background__stroke--medium" cx="876.16" cy="477.18" r="16"/>
                            <circle class="home-background__stroke home-background__stroke--medium" cx="854.07" cy="388.83" r="8"/>
                        </g>
                        <g class="home-background__item home-background__item--fade-out-2">
                            <path class="home-background__stroke home-background__stroke--light home-background__stroke--round-join" d="M235.06,378C268.71,286.08,356.95,220.5,460.5,220.5c132.55,0,240,107.45,240,240s-107.45,240-240,240-240-107.45-240-240q0-2,0-4"/>
                            <circle class="home-background__stroke home-background__stroke--light home-background__stroke--round-join" cx="224.36" cy="416.5" r="40"/>
                            <circle class="home-background__fill home-background__fill--light" cx="699.09" cy="486.63" r="4"/>
                        </g>
                        <g class="home-background__item home-background__item--fade-out-1">
                            <path class="home-background__stroke home-background__stroke--dark home-background__stroke--round-join" d="M622.1,560.47a189.88,189.88,0,0,1-161.6,90c-104.93,0-190-85.07-190-190s85.07-190,190-190,190,85.07,190,190q0,1.26,0,2.53"/>
                            <circle class="home-background__stroke home-background__stroke--dark" cx="658.5" cy="463.03" r="8"/>
                            <circle class="home-background__fill home-background__fill--dark" cx="283.05" cy="392.66" r="3"/>
                        </g>
                        <path class="home-background__stroke home-background__stroke--dark home-background__stroke--round-join" d="M645.12,512.3c0-.22,0-.44,0-.67a8.5,8.5,0,0,0-16.1-3.79,4.46,4.46,0,0,0-6.66,5.18,6.5,6.5,0,0,0,3.26,12.12h18a6.5,6.5,0,0,0,1.47-12.83Z"/>
                        <path class="home-background__stroke home-background__stroke--dark home-background__stroke--round-join" d="M238.14,422.53a19.49,19.49,0,0,1-6.2-1,2.12,2.12,0,0,0-1.72.35l-3.79,3.79a26.82,26.82,0,0,1-11.37-11.37l3.79-3.79a1.37,1.37,0,0,0,.34-1.72,23.15,23.15,0,0,1-.86-6,1.63,1.63,0,0,0-1.72-1.72h-6a1.63,1.63,0,0,0-1.72,1.72A29.25,29.25,0,0,0,238.14,432a1.63,1.63,0,0,0,1.72-1.72v-6A1.63,1.63,0,0,0,238.14,422.53Z"/>
                        <g class="home-background__item home-background__item--fade-out-2">
                            <path class="home-background__stroke home-background__stroke--dark home-background__stroke--round-join" d="M752,445.58h-6a1,1,0,0,1-1-1v-19a1,1,0,0,1,1-1h27a1,1,0,0,1,1,1v19a1,1,0,0,1-1,1h-13"/>
                            <line class="home-background__stroke home-background__stroke--dark home-background__stroke--round-join" x1="745.08" y1="431.58" x2="774.08" y2="431.58"/>
                            <path class="home-background__fill home-background__fill--dark" d="M749.58,428.08a1,1,0,1,1-1-1,1,1,0,0,1,1,1"/>
                            <polygon class="home-background__stroke home-background__stroke--dark home-background__stroke--round-join" points="760.08 437.58 750.85 446.75 754.14 447.11 751.98 452.28 755.11 453.58 757.28 448.41 760.08 450.58 760.08 437.58"/>
                            <path class="home-background__fill home-background__fill--dark" d="M753.58,428.08a1,1,0,1,1-1-1,1,1,0,0,1,1,1"/>
                            <path class="home-background__fill home-background__fill--dark" d="M757.58,428.08a1,1,0,1,1-1-1,1,1,0,0,1,1,1"/>
                        </g>
                        <rect class="home-background__stroke home-background__stroke--dark home-background__stroke--round-join" x="588.88" y="397.92" width="19" height="7" rx="1" ry="1"/>
                        <path class="home-background__fill home-background__fill--dark" d="M605.38,401.42a1,1,0,1,1-1-1,1,1,0,0,1,1,1"/>
                        <circle class="home-background__stroke home-background__stroke--dark home-background__item home-background__item--fade-out-9" cx="460.5" cy="460.5" r="460"/>
                    </svg>
                </div>
                <div class="home-ovh-logo-container">
                    <img src="assets/images/ovhLogo.svg"
                         alt="OVH logo"
                         class="home-ovh-logo">
                </div>
                <h1 class="home-title">
                    <img src="assets/images/uxTeamLogo.svg"
                         alt="OVH UX Team logo"
                         class="home-ux-logo">
                </h1>
                <p class="home-intro">Repellendus atque consequatur sint ea a. Reiciendis animi qui aliquam in corrupti enim.</p>
                <nav class="home-nav">
                    <ul>
                        {% assign nav_pages = site.pages | sort : 'order' %}
                        {% for page in nav_pages %}
                            {% if page.showing %}
                                <li class="home-nav__item home-nav__item--{{ page.section-name }}">
                                    <button class="home-nav__link home-nav__link--{{ page.section-name }}"
                                            id="btn-{{ page.section-name }}">
                                       <span class="home-nav__arrow-container home-nav__arrow-container--{{ page.section-name }}">
                                           <svg class="home-nav__arrow home-nav__arrow--{{ page.section-name }}"
                                                xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 24 17">
                                               <polyline points="15.5 0.5 23.5 8.5 15.5 16.5"
                                                   class="home-nav__arrow-stroke home-nav__arrow-stroke--fadeout home-nav__arrow-stroke--{{ page.section-name }}"/>
                                               <polyline points="14.5 6.5 16.5 8.5 14.5 10.5"
                                                   class="home-nav__arrow-stroke home-nav__arrow-stroke--{{ page.section-name }}"/>
                                               <circle cx="8.5"
                                                       cy="8.5"
                                                       r="0.5"
                                                       class="home-nav__arrow-fill"/>
                                               <circle cx="4.5"
                                                       cy="8.5"
                                                       r="0.5"
                                                       class="home-nav__arrow-fill"/>
                                               <circle cx="0.5"
                                                       cy="8.5"
                                                       r="0.5"
                                                       class="home-nav__arrow-fill"/>
                                           </svg>
                                       </span>
                                       <span>{{ page.title }}</span>
                                   </button>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            </section>
            {{ content }}
        </div>
        {% include footer.html %}
        <script src="js/scripts.js"></script>
    </body>
</html>
